<%= render partial:"list",locals:{book: @book,user: @user} %>

<h2>Book detail</h2>

<table class="table">
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@user.id) do %>
          <%= image_tag @book.user.get_profile_image(80,80) %><br>
          <%= @book.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to @book.title , book_path(@book.id) %>
        </td>
      <td><%= @book.body %></td>
      <% if @book.user == current_user %>
        <td><%= link_to "Edit",edit_book_path(@book.id) %></td>
        <td><%= link_to "Destroy",book_path(@book.id),method: :delete,"data-confirm"=>"本当に消しますか？"  %></td>
      <% end %>
    </tr>
  </tbody>
</table>